@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    color:azure;
}

header
{
	background-color: transparent;
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
	left: 0;
	top: 0;
	padding: 25px 100px;
	position: fixed;
	z-index: 99;
}

body
{
	background: url("Images/Logo/cape town4.jpg");
	
	background-size:contain;
	min-height: 100%;
	width:100%;
	opacity: 80%;
	
}
.nav_bar
{
	color: chartreuse;
	font-size: 20px;
	font-weight: 500px;
	margin-right: 30px;
	text-decoration: none;

}
.nav_bar a
{
	font-size: 30px;
	font-weight: bold;
	padding: 10px 3px;
	margin-left: 40px;
}
.nav_bar a::after
{
	position: absolute;
	width: 100%;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s ease-in-out;
	background: crimson;
}
.nav_bar a:hover::after
{
	transform-origin: left;
	transform: scaleY(1);
}

.room-content
{
	padding: 5%;
}

.gallery-list
{
    list-style: none;
	gap: 10%;
}
.room-content .room-types:hover .room-item
{
	cursor:zoom-out;
	transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.home
{
	padding: 10%;
}
.home h1 
{
	padding: 1%;
	font-size: 45px;
	font-weight: bold;
	text-indent: 20%;
	color: black;
	text-decoration: underline;
}
.home h2
{
	padding:5% ;
	font-size: 30px;
	text-indent: 10%;
	font-weight: bold;
	color: black;
}
.home h3
{
	font-size: 30px;
	font-weight: bold;
	padding: 3%;
	text-decoration: solid underline;
	text-indent: -15%;
}
.home h4
{
	font-size: 30px;
	text-align: justify;
	font-weight: bold;
	font-style: italic;
	padding: 1%;
	text-indent: -10%;
}
.home li
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 25px;
	color:aliceblue;
	justify-content: space-between;
	
}
.apartments h1
{
	padding: 5%;
	font-size: 18px;
	text-indent: 20%;
}
.apartments .gallery-list .room-types .room-item
{
	
	display:flexbox;
	flex-wrap: wrap;
	width: 50%;
	height: 50%;
	aspect-ratio: 1%;
	gap: 10%;
	justify-items: center;
	align-content: center;
}


.payment a
{
	padding-bottom: 5%;
	font-size: 20px;
	padding-left: 60%;
}